In [1]:
#Imports
import pandas as pd

In [4]:
#Load Data
heart_disease_df = pd.read_csv('Resources/heart_disease_dataset.csv')
heart_disease_df.head()

,Age,Gender,Cholesterol,Blood Pressure,Heart Rate,Smoking,Alcohol Intake,Exercise Hours,Family History,Diabetes,Obesity,Stress Level,Blood Sugar,Exercise Induced Angina,Chest Pain Type,Heart Disease
0,75,Female,228,119,66,Current,Heavy,1,No,No,Yes,8,119,Yes,Atypical Angina,1
1,48,Male,204,165,62,Current,NaN,5,No,No,No,9,70,Yes,Typical Angina,0
2,53,Male,234,91,67,Never,Heavy,3,Yes,No,Yes,5,196,Yes,Atypical Angina,1
3,69,Female,192,90,72,Current,NaN,4,No,Yes,No,7,107,Yes,Non-anginal Pain,0
4,62,Female,172,163,93,Never,NaN,6,No,Yes,No,2,183,Yes,Asymptomatic,0

In [5]:
heart_disease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1000 non-null   int64
 1   Gender                   1000 non-null   object
 2   Cholesterol              1000 non-null   int64
 3   Blood Pressure           1000 non-null   int64
 4   Heart Rate               1000 non-null   int64
 5   Smoking                  1000 non-null   object
 6   Alcohol Intake           660 non-null    object
 7   Exercise Hours           1000 non-null   int64
 8   Family History           1000 non-null   object
 9   Diabetes                 1000 non-null   object
 10  Obesity                  1000 non-null   object
 11  Stress Level             1000 non-null   int64
 12  Blood Sugar              1000 non-null   int64
 13  Exercise Induced Angina  1000 non-null   object
 14  Chest Pain Type          1000 non-null   object
 15  Heart Disease            1000 non-null   int64
dtypes: int64(8), object(8)
memory usage: 125.1+ KB

In [8]:
df_heart_disease.describe(include='all')

,Age,Gender,Cholesterol,Blood Pressure,Heart Rate,Smoking,Alcohol Intake,Exercise Hours,Family History,Diabetes,Obesity,Stress Level,Blood Sugar,Exercise Induced Angina,Chest Pain Type,Heart Disease
count,1000.000000,1000,1000.000000,1000.0000,1000.000000,1000,660,1000.000000,1000,1000,1000,1000.000000,1000.000000,1000,1000,1000.000000
unique,NaN,2,NaN,NaN,NaN,3,2,NaN,2,2,2,NaN,NaN,2,4,NaN
top,NaN,Female,NaN,NaN,NaN,Never,Heavy,NaN,No,Yes,No,NaN,NaN,No,Non-anginal Pain,NaN
freq,NaN,503,NaN,NaN,NaN,338,346,NaN,501,505,501,NaN,NaN,528,256,NaN
mean,52.293000,NaN,249.939000,135.2810,79.204000,NaN,NaN,4.529000,NaN,NaN,NaN,5.646000,134.941000,NaN,NaN,0.392000
std,15.727126,NaN,57.914673,26.3883,11.486092,NaN,NaN,2.934241,NaN,NaN,NaN,2.831024,36.699624,NaN,NaN,0.488441
min,25.000000,NaN,150.000000,90.0000,60.000000,NaN,NaN,0.000000,NaN,NaN,NaN,1.000000,70.000000,NaN,NaN,0.000000
25%,39.000000,NaN,200.000000,112.7500,70.000000,NaN,NaN,2.000000,NaN,NaN,NaN,3.000000,104.000000,NaN,NaN,0.000000
50%,52.000000,NaN,248.000000,136.0000,79.000000,NaN,NaN,4.500000,NaN,NaN,NaN,6.000000,135.000000,NaN,NaN,0.000000
75%,66.000000,NaN,299.000000,159.0000,89.000000,NaN,NaN,7.000000,NaN,NaN,NaN,8.000000,167.000000,NaN,NaN,1.000000
max,79.000000,NaN,349.000000,179.0000,99.000000,NaN,NaN,9.000000,NaN,NaN,NaN,10.000000,199.000000,NaN,NaN,1.000000

In [9]:
heart_disease_df.isnull().sum()

Age                          0
Gender                       0
Cholesterol                  0
Blood Pressure               0
Heart Rate                   0
Smoking                      0
Alcohol Intake             340
Exercise Hours               0
Family History               0
Diabetes                     0
Obesity                      0
Stress Level                 0
Blood Sugar                  0
Exercise Induced Angina      0
Chest Pain Type              0
Heart Disease                0
dtype: int64

In [10]:
heart_disease_df['Alcohol Intake'] = heart_disease_df['Alcohol Intake'].fillna("None")

In [11]:
heart_disease_df.head()

,Age,Gender,Cholesterol,Blood Pressure,Heart Rate,Smoking,Alcohol Intake,Exercise Hours,Family History,Diabetes,Obesity,Stress Level,Blood Sugar,Exercise Induced Angina,Chest Pain Type,Heart Disease
0,75,Female,228,119,66,Current,Heavy,1,No,No,Yes,8,119,Yes,Atypical Angina,1
1,48,Male,204,165,62,Current,None,5,No,No,No,9,70,Yes,Typical Angina,0
2,53,Male,234,91,67,Never,Heavy,3,Yes,No,Yes,5,196,Yes,Atypical Angina,1
3,69,Female,192,90,72,Current,None,4,No,Yes,No,7,107,Yes,Non-anginal Pain,0
4,62,Female,172,163,93,Never,None,6,No,Yes,No,2,183,Yes,Asymptomatic,0

In [12]:
heart_disease_df.isnull().sum()

Age                        0
Gender                     0
Cholesterol                0
Blood Pressure             0
Heart Rate                 0
Smoking                    0
Alcohol Intake             0
Exercise Hours             0
Family History             0
Diabetes                   0
Obesity                    0
Stress Level               0
Blood Sugar                0
Exercise Induced Angina    0
Chest Pain Type            0
Heart Disease              0
dtype: int64

In [13]:
heart_disease_df.to_csv('Resources/heart_disease_dataset.csv')